// Minimal config for module-level testing of NTMPROFILER_PROFILE
nextflow.enable.types = true
nextflow.enable.strict = true
includeConfig "../../../../conf/test_base.config"

params {
    workflow {
        name = "ntmprofiler"
        logo_name = "bactopia-tools"
        description = "Identify NTM species and predict antimicrobial resistance"
        ext = "fna"
    }

    wf = params.workflow.name
}

includeConfig "../module.config"
includeConfig "../../../../conf/base.config"
includeConfig "../../../../conf/profiles.config"
