params {
    // ntmprofiler_profile
    ntmprofiler_call_whole_genome = false
    ntmprofiler_caller = "freebayes"
    ntmprofiler_calling_params = ""
    ntmprofiler_db = null
    ntmprofiler_mapper = "bwa"
    ntmprofiler_min_species_relative_abundance = 2.0
    ntmprofiler_no_coverage_qc = false
    ntmprofiler_no_delly = false
    ntmprofiler_no_species = false
    ntmprofiler_no_trim = false
    ntmprofiler_opts = ""
    ntmprofiler_species_only = false
    ntmprofiler_taxonomic_software = "sylph"
}

process {
    withName: 'NTMPROFILER_PROFILE' {
        ext.wf = params.wf
        ext.scope = "sample"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "ntmprofiler"

        // Tool arguments
        ext.args = [
            params.ntmprofiler_call_whole_genome ? "--call_whole_genome" : "",
            "--caller ${params.ntmprofiler_caller}",
            params.ntmprofiler_calling_params ? "--calling_params '${params.ntmprofiler_calling_params}'" : "",
            "--mapper ${params.ntmprofiler_mapper}",
            "--min_species_relative_abundance ${params.ntmprofiler_min_species_relative_abundance}",
            params.ntmprofiler_no_coverage_qc ? "--no_coverage_qc" : "",
            params.ntmprofiler_no_delly ? "--no_delly" : "",
            params.ntmprofiler_no_species ? "--no_species" : "",
            params.ntmprofiler_no_trim ? "--no_trim" : "",
            params.ntmprofiler_species_only ? "--species_only" : "",
            "--taxonomic_software ${params.ntmprofiler_taxonomic_software}",
            params.ntmprofiler_opts
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::ntm-profiler=0.8.2".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/ntm-profiler:0.8.2--pyhdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/ntm-profiler:0.8.2--pyhdfd78af_0"
        ext.condaDir = "${params.condadir}"
    }
}
