params {
    // ntmprofiler_collate
    ntmprofiler_distance_cutoff = 10
    ntmprofiler_min_species_relative_abundance = 2.0
}

process {
    withName: 'NTMPROFILER_COLLATE' {
        ext.wf = params.wf
        ext.scope = "run"
        ext.subdir = ""
        ext.logs_subdir = ""
        ext.process_name = "ntmprofiler-collate"

        // Tool arguments
        ext.args = [
            "--distance_cutoff ${params.ntmprofiler_distance_cutoff}",
            "--min_species_relative_abundance ${params.ntmprofiler_min_species_relative_abundance}"
        ].join(' ').replaceAll("\\s{2,}", " ").trim()

        // Environment information
        ext.toolName = "bioconda::ntm-profiler=0.8.2".replace("=", "-").replace(":", "-").replace(" ", "-")
        ext.docker = "biocontainers/ntm-profiler:0.8.2--pyhdfd78af_0"
        ext.image = "https://depot.galaxyproject.org/singularity/ntm-profiler:0.8.2--pyhdfd78af_0"
        ext.condaDir = "${params.condadir}"
    }
}
